/* Resetando estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color: #fff;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Cabeçalho */
.header {
    position: fixed;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 15px;
    background-color: #131313;
    padding: 20px 10px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    transition: background-color 0.3s ease;
}

.header.scrolled {
    background-color: #111;
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.logo:hover {
    color: #0077ff;
}

.navbar a {
    color: #fff;
    margin: 0 20px;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navbar a:hover {
    color: #0077ff;
    transform: scale(1.05);
}

#menu-icon {
    display: none;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
}

#menu-icon:hover {
    color: #00aaff;
}

/* Seção Home */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding-top: 80px;
    flex-direction: column;
    background: linear-gradient(135deg, #0077ff, #00162c);
    color: #fff;
    padding-bottom: 40px;
}

.home-content {
    max-width: 800px;
    margin: 0 20px;
    animation: fadeInUp 1.2s ease-out;
}

.home h1 {
    font-size: 60px;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

.home h1 span {
    color: #ffa600;
}

.text-animation {
    font-size: 52px;
    color: #ccc;
    margin-bottom: 30px;
    animation: fadeIn 2s ease-in-out;
}

.social-icons a {
    font-size: 28px;
    color: #fff;
    margin: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    color: #00aaff;
    transform: scale(1.1);
}

.btn-group {
    margin-top: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 28px;
    background-color: #00aaff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 17px;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #0088cc;
    transform: translateY(-5px);
}

.home-img img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #00aaff;
    margin-top: 30px;
    animation: zoomIn 2s ease-in-out;
}

/* Seções */

section {
    padding: 80px 20px;
    text-align: center;
    margin-top: 80px;
}
/* Estilizando a seção Sobre Mim */
.about {
    border: 2px solid transparent;
    background: linear-gradient(135deg, #222, #111);
    border-radius: 15px;
    padding: 60px 10px;
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    max-width: 1200px;
    margin: 20px auto;
    transition: all 0.3s ease-in-out;
}
.about:hover {
    transform: scale(1.02);
    border-color: #00aaff;
}

.about h2 {
    font-size: 46px;
    color: #fafafa;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.about p {
    font-size: 15px;
    max-width: 800px;
    margin: 0 auto 30px;
    line-height: 1.6;
}

/* Estilizando o álbum de fotos */
.photo-album {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

.photo-album img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.photo-album img:hover {
    transform: scale(1.05);
}


.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, #00162c, #0077ff);
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.skills h2 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 800px;
}

.skills li {
    background: #222;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 20px;
    color: #fff;
    transition: transform 0.3s ease, background 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.skills li:hover {
    background: #00aaff;
    transform: scale(1.1);
    font-weight: 700;
}


/* Portfólio */
/* Estilizando a seção de Projetos */
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin-top: 40px;
}

.project {
    background-color: #111111;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.6);
    width: 280px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    position: relative;
}

.project:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.8);
    filter: brightness(1.1);
    transition: all 0.3s ease-in-out;
}
.project img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project:hover img {
    transform: scale(1.2);
}

.project .layer {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.project:hover .layer {
    opacity: 1;
}

.project h5 {
    font-size: 18px;
    margin-top: 10px;
    color: #fff;
    font-weight: 600;
}


/* Contato */
.contact form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: fadeIn 1.5s ease-in-out;
}

.contact input,
.contact textarea {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #333;
    background-color: #222;
    color: #fff;
    font-size: 18px;
    transition: border-color 0.3s;
}

.contact input:focus,
.contact textarea:focus {
    border-color: #00aaff;
}

.contact button {
    padding: 15px 20px;
    background-color: #00aaff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.contact button:hover {
    background-color: #0088cc;
}

/* Rodapé */
.footer {
    background-color: #111;
    padding: 40px 20px;
    text-align: center;
    font-size: 16px;
    color: #aaa;
    margin-top: 50px;
    border-top: 2px solid #00aaff;
}

.footer a {
    color: #00aaff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s;
}

.footer a:hover {
    color: #0088cc;
}

/* Animações */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Responsividade */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar {
        display: none;
        flex-direction: column;
        margin-top: 20px;
    }

    .navbar.active {
        display: flex;
    }

    #menu-icon {
        display: block;
    }

    .home-content h1 {
        font-size: 32px;
    }

    .home-content .text-animation {
        font-size: 18px;
    }

    .home-img img {
        width: 180px;
        height: 180px;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 80%;
    }

    .contact form {
        width:80%;
    }
}